<app-loading *ngIf="loading"></app-loading>
<div *ngIf="!loading">
  <div class="row">
    <div class="col-md-8">
      <div>
        <iframe width="560" height="315" [src]="trailerVideo | safePipe" frameborder="0" allowfullscreen></iframe>
      </div>
      <p><strong>{{movie.title}}</strong></p>
      <h3>Synopsis</h3>
      <p><em>{{movie.overview}}</em></p>
    </div>

    <div class="col-md-4 mt-5">
      <div class="centrar">
        <p>Rating</p>
      </div>

      <div class="row">
        <div class="col-md-6 centrar">
          <p>Average Score: {{movie.vote_average}}</p>
        </div>
        <div class="col-md-6 centrar">
          <p>Popularity: {{movie.popularity | shortNumber}}</p>
        </div>

        <form (ngSubmit)="handleMovie(!userHasData?true:false)" [formGroup]="addMovieForm">
          <div class="row">
            <div class="col-md-6 centrar">
              <mat-select [value]="selectedValue"  formControlName="rating">
                <mat-option *ngFor="let rating of ratingValues,let i = index; " [value]="i">{{rating}}</mat-option>
              </mat-select>
              <mat-checkbox formControlName="finished" [(ngModel)]="finished">Finished?</mat-checkbox>
            </div>
            <div class="col-md-6 centrar">
              <button class="btn btn-primary" type="submit" *ngIf="!userHasData" [disabled]="!addMovieForm.valid">Add
                movie</button>
              <button class="btn btn-primary" type="submit" *ngIf="userHasData" [disabled]="!addMovieForm.valid">Update
                movie</button>
              <button class="btn btn-danger " type="submit" *ngIf="userHasData" [disabled]="!addMovieForm.valid">Remove
                movie</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>

</div>
